USE [master]
GO
/****** Object:  Database [QLBH]    Script Date: 12/05/2023 16:25:01 ******/
CREATE DATABASE [QLBH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLBH.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLBH_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH]
GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 12/05/2023 16:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MSDDH] [int] NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[SL] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DONGIA] [int] NULL,
 CONSTRAINT [PK_CTDDH_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTNHAPHANG]    Script Date: 12/05/2023 16:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTNHAPHANG](
	[MSNHAPHANG] [int] NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[SL] [int] NULL,
	[DONGIA] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CTNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 12/05/2023 16:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MSDDH] [int] IDENTITY(1,1) NOT NULL,
	[HOTENKH] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SDT] [nchar](50) NOT NULL,
	[TRANGTHAI] [nchar](10) NOT NULL,
	[MAKH] [int] NULL,
	[email] [nchar](100) NULL,
 CONSTRAINT [PK_DONDATHANG] PRIMARY KEY CLUSTERED 
(
	[MSDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSTAIKHOAN]    Script Date: 12/05/2023 16:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSTAIKHOAN](
	[TAIKHOAN] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[CHUCVU] [nchar](10) NULL,
 CONSTRAINT [PK_DSTAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/05/2023 16:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [nchar](10) NOT NULL,
	[NGAYLAPHD] [date] NULL,
	[MANV] [int] NULL,
	[TONGGIA] [float] NULL,
	[FEEDBACK] [ntext] NULL,
	[MSDDH] [int] NOT NULL,
	[MAKH] [int] NULL,
	[ddh] [varchar](255) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/05/2023 16:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [nchar](50) NULL,
	[DOANHSO] [int] NULL,
	[TAIKHOAN] [nvarchar](50) NULL,
	[EMAIL] [nchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[HINHANH] [nchar](1000) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/05/2023 16:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[SDT] [nchar](10) NULL,
	[NGAYVAOLAM] [date] NULL,
	[TAIKHOAN] [nvarchar](50) NULL,
	[HINHANH] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAPHANG]    Script Date: 12/05/2023 16:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[NGAYNHAP] [nchar](100) NULL,
	[MOTA] [nvarchar](250) NULL,
	[TRANGTHAI] [nchar](50) NULL,
 CONSTRAINT [PK_NHAPHANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/05/2023 16:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nchar](10) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[LOAISP] [nvarchar](50) NULL,
	[NUOCSX] [nvarchar](50) NULL,
	[DONGIA] [int] NULL,
	[MOTA] [ntext] NULL,
	[SOLUONGTON] [int] NULL,
	[HINHANH] [nchar](100) NULL,
	[SALE] [float] NULL CONSTRAINT [DF_SANPHAM_SALE]  DEFAULT ((0)),
	[TRANGTHAIXOA] [int] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_DONDATHANG] FOREIGN KEY([MSDDH])
REFERENCES [dbo].[DONDATHANG] ([MSDDH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_DONDATHANG]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_SANPHAM]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK8hs69b4q6xg6l6g4pruku3o85] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK8hs69b4q6xg6l6g4pruku3o85]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FKnd8mfp2mp06x48boe8diyuqaf] FOREIGN KEY([MSDDH])
REFERENCES [dbo].[DONDATHANG] ([MSDDH])
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FKnd8mfp2mp06x48boe8diyuqaf]
GO
ALTER TABLE [dbo].[CTNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTNHAPHANG_NHAPHANG] FOREIGN KEY([MSNHAPHANG])
REFERENCES [dbo].[NHAPHANG] ([ID])
GO
ALTER TABLE [dbo].[CTNHAPHANG] CHECK CONSTRAINT [FK_CTNHAPHANG_NHAPHANG]
GO
ALTER TABLE [dbo].[CTNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTNHAPHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTNHAPHANG] CHECK CONSTRAINT [FK_CTNHAPHANG_SANPHAM]
GO
ALTER TABLE [dbo].[CTNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FKoi0tfol7bupood301oixm7cfn] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTNHAPHANG] CHECK CONSTRAINT [FKoi0tfol7bupood301oixm7cfn]
GO
ALTER TABLE [dbo].[CTNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FKp92sypafr2hcj61yup1g5fyb6] FOREIGN KEY([MSNHAPHANG])
REFERENCES [dbo].[NHAPHANG] ([ID])
GO
ALTER TABLE [dbo].[CTNHAPHANG] CHECK CONSTRAINT [FKp92sypafr2hcj61yup1g5fyb6]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK7mfty2m79o98uk1b6vmht5pn8] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK7mfty2m79o98uk1b6vmht5pn8]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_DONDATHANG] FOREIGN KEY([MSDDH])
REFERENCES [dbo].[DONDATHANG] ([MSDDH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_DONDATHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FKawjf2w86ktw2ogkp5pxe1sd4] FOREIGN KEY([MSDDH])
REFERENCES [dbo].[DONDATHANG] ([MSDDH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FKawjf2w86ktw2ogkp5pxe1sd4]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FKnwthba3sq8qk4xfr2556vci64] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FKnwthba3sq8qk4xfr2556vci64]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_DSTAIKHOAN] FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[DSTAIKHOAN] ([TAIKHOAN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_DSTAIKHOAN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FKi132t97b62b1j369ne65pemhy] FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[DSTAIKHOAN] ([TAIKHOAN])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FKi132t97b62b1j369ne65pemhy]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_DSTAIKHOAN] FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[DSTAIKHOAN] ([TAIKHOAN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_DSTAIKHOAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK3ctsgcw41216l9kxra8uwfi6p] FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[DSTAIKHOAN] ([TAIKHOAN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK3ctsgcw41216l9kxra8uwfi6p]
GO
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_NHAPHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHAPHANG] CHECK CONSTRAINT [FK_NHAPHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FKnu0gk1n5yj427rtnfnmb0h4pe] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHAPHANG] CHECK CONSTRAINT [FKnu0gk1n5yj427rtnfnmb0h4pe]
GO
USE [master]
GO
